
body {
    font-family: Baskerville;
    line-height: 1.5;
}

hr {
    color: gray;
    background-color: gray;
}

.dict-name {
    color: gray;
    font-style: italic;
}

.dict-divider-arrow {
    position: relative;
    top: -2px;
}

a {
    color: #2971A7;
}

.searchable-word:hover {
    text-decoration: underline;
    cursor: hand;
    color: #2971A7;
}
